@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* html {
    font-size: 16px;
  } */

  /* Layout */
  .p-container {
    @apply px-4 sm:px-12 lg:px-16 xl:px-[6.25rem] 2xl:px-40 max-w-full xl:max-w-[1380px] mx-auto;
  }

  .p-container-narrow {
    @apply px-4 sm:px-12 lg:px-0 max-w-full lg:max-w-[990px] mx-auto;
  }

  .p-container-full {
    @apply px-4 sm:px-12 lg:px-16 xl:px-[6.25rem] 2xl:px-40 max-w-full;
  }

  /* Typography */
  .heading-1-bold {
    @apply text-[4rem] leading-[4.75rem] font-bold;
  }

  .heading-1-medium {
    @apply text-[4rem] leading-[4.75rem] font-medium;
  }

  .heading-2 {
    @apply text-[3rem] leading-[3.625rem] font-medium;
  }

  .heading-2-bold {
    @apply text-[3rem] leading-[3.625rem] font-bold;
  }

  .heading-3 {
    @apply text-[2rem] leading-[2.375rem] font-bold;
  }

  .heading-3-medium {
    @apply text-[2rem] leading-[2.375rem] font-medium;
  }

  .heading-4 {
    @apply text-[2.625rem] leading-[3rem] font-bold;
  }

  .body-text-1 {
    @apply text-2xl leading-[1.875rem] font-bold;
  }

  .body-text-2 {
    @apply text-2xl leading-[1.875rem] font-medium;
  }

  .body-text-3 {
    @apply text-2xl leading-[1.875rem];
  }

  .body-text-4 {
    @apply text-xl leading-6 font-medium;
  }

  .body-text-5 {
    @apply text-xl leading-6;
  }

  .body-text-6 {
    @apply text-base leading-5;
  }

  .body-text-6-medium {
    @apply text-base leading-5 font-medium;
  }

  .body-text-7 {
    @apply text-sm leading-[1.125rem];
  }


  /* FORM COMPONENTS STYLING */
  .select-wrap {
    @apply relative w-full bg-transparent grid gap-2 rounded;
  }

  .select-wrap .select-label {
    @apply body-text-6 md:body-text-5 leading-5 text-white;
  }

  /* .select-wrap .select-label {
    @apply text-[#3F3F3F] body-text-6 md:body-text-3;
  } */

  .select-wrap .select {
    @apply relative w-full grid gap-2 text-[#3F3F3F] body-text-6 md:body-text-3 rounded select-none;
  }

  .select-wrap .header {
    @apply relative bg-white grid grid-cols-[1fr_auto] gap-[10px] items-center rounded-[10px] border-[#AEAEAE] hover:border-[#AEAEAE] outline-none focus:border-[#AEAEAE];
  }

  .select-wrap .header.picture-select {
    @apply grid-cols-[auto_1fr_auto];
  }

  .select-wrap .header.has-borders {
    @apply p-4 border-[0.5px] ;
  }

  .select-wrap .header.in-bundle {
    @apply p-[12px] rounded bg-[#DAE9F2] body-text-7 md:body-text-6 ;
  }

  .select-wrap .select-text {
    @apply w-full;
  }

  .select-wrap .select-text.placeholder {
    @apply text-grey-89;
  }

  .select-wrap .caret {
    @apply w-6 h-6;
  }

  .select-wrap select {
    @apply appearance-none w-full hidden flex-1 border-none;
  }

  /* .select-wrap option {
    @apply;
  } */

  .select-wrap .options-dropdown {
    @apply appearance-none w-full max-h-[250px] overflow-y-auto rounded-[5px] border-[0.5px]  bg-white shadow-reviewBox box-border;
  }


  /* Custom Scrollbar */
  .custom-scrollbar::-webkit-scrollbar {
    width: 7px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #b3b7bd;
    border-radius: 5px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #c4c4c4;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  /* For Firefox */
  .custom-scrollbar::-moz-scrollbar {
    width: 7px;
  }
  .custom-scrollbar::-moz-scrollbar-thumb {
    background-color: #b3b7bd;
    border-radius: 5px;
  }
  .custom-scrollbar::-moz-scrollbar-thumb:hover {
    background-color: #c4c4c4;
  }
  .custom-scrollbar::-moz-scrollbar-track {
    background-color: transparent;
  }

  /* For Other Browsers */
  .custom-scrollbar::-ms-scrollbar {
    width: 7px;
  }
  .custom-scrollbar::-ms-scrollbar-thumb {
    background-color: #b3b7bd;
    border-radius: 5px;
  }
  .custom-scrollbar::-ms-scrollbar-thumb:hover {
    background-color: #c4c4c4;
  }
  .custom-scrollbar::-ms-scrollbar-track {
    background-color: transparent;
  }
}